body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: black;
    margin: 20px;
}

h1 {
    color: darkblue;
}

h2 {
    color: darkred;
}

a {
    color: blue;
    text-decoration: none;
    margin-right: 10px;
}

img {
    border: 2px solid gray;
}

table {
    background-color: white;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}